:root {
    --bgcolor: #d7e9ff;
    --maincolor: #90d8ec;
    --seccolor: #7af1fb;
    --textcolor: #02272f;
}
body {
    background: var(--bgcolor);
    color: var(--textcolor);
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
header h1 {
    text-align: center;
    margin: 2px;
    padding: 30px;
    color: #06021c;
    font-size: 28px;
    text-shadow: 2px 2px indigo;
    text-transform: capitalize;
    font-style: italic;
    border: 2px double rgb(99, 187, 250);
    background: linear-gradient(#afd3e2,#7af1fb,#19a7ce)
}

ul {
    list-style-type: circle;
    text-align: right;
    list-style-position: inside;

}
.parent ul li {
    display: inline;
    padding: 8px;
}
a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: #282861;
}
a:hover {
    text-decoration: underline;
    color: red;
}
.tell ul li {
    display: inline;
    padding: 8px;

}
.tell ul{
    text-align: center;
}

.kia ul {
    text-align: left;
    text-decoration: underline;
    color: rgb(5, 94, 94);
    font-size: 20px;
}
#job {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    border:2px solid #ff63c9;
    background: #fdafda;
    margin: 5px;
    padding: 10px;    
}
h2,
 h3 {
    text-transform: capitalize;
    font-size: 20px;
    background: var(--maincolor);
    color: #076097;
}
button {
    border:2px solid aqua;
    box-shadow: 0 0 .3rem aqua;
    padding: 8px;
    border-radius: 15px;
    text-transform: uppercase;
    background: aqua;
    margin: 10px;
    width: 150px;

}
button:hover {
    box-shadow: none;
    background: #f6f1f1;
}
nav button {
    display: inline;
}
nav ul {
    display: inline;
    float: right;
}